<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Vue</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title></title>
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <br>

    <div id="app-2">
        <span v-bind:title="message2">
            Just say something.
            i did
        </span>
    </div>
    <br>

    <div id="app-3">
        <span v-if="see">Now you see me.</span>
    </div>
    <br>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <br>

    <div id="app-5">
        <p> {{message5}} </p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <br>

    <div id="app-6">
        <p> {{ message6 }} </p>
        <input v-model="message6">
    </div>
    <br>

    <div id="app-7">
        <ol>
    <!--
      Now we provide each todo-item with the todo object
      it's representing, so that its content can be dynamic.
      We also need to provide each component with a "key",
      which will be explained later.
    -->
            <todo-item
                v-for="item in blacklist"
                v-bind:todo="item"
                v-bind:key="item.id">
            </todo-item>
        </ol>
    </div>
    <br>

    <script src="app.js"></script>
</body>
</html>
